body {
  width: 100%;
  height: 100%;
  line-height: 154%;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(210, 237, 251, 1) 55%,
    rgba(255, 242, 226, 1) 100%
  );
  font-family: system-ui, sans-serif;
  font-size: 81.25%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

.inputDiv {
  background: white;
  border-radius: 25px;
  box-shadow: 2px 2x 2px 2px lightgray;
  padding: 30px;
  width: 600px;
  height: auto;
}

.inlineDiv {
  height: 40px;
  display: flex;
  align-items: center;
}

.countrieSelect {
  margin: 0;
  background: white;
  margin-left: 4px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
}

.flag {
  margin-right: 10px;
}

.inputCity {
  margin-left: 20px;
  border-radius: 10px;
  height: 50px;
  width: 420px;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid lightgray;
}

.imgDiv {
  height: fit-content;
}

.selectDiv {
  margin-left: 10px;
  width: auto;
  display: contents;
}

.cloudImg {
  height: 50px;
}
