body {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 154%;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(210, 237, 251, 1) 55%,
    rgba(255, 242, 226, 1) 100%
  );
  font-family: system-ui, sans-serif;
  font-size: 81.25%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

.inputDiv {
  background: white;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding: 30px;
  width: 600px;
  height: auto;
}

.inlineDiv img {
  height: 50px;
}

.countrieSelect {
  margin: 0;
  background: white;
  margin-left: 4px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.flag {
  margin-right: 10px;
  display: flexbox;
}
