:root {
  --value-corner-down: 0;
  --value-corner-up: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  line-height: 154%;
  background: linear-gradient(
    to bottom right,
    rgba(var(--value-corner-up)) 55%,
    rgba(var(--value-corner-down)) 100%
  );
  font-family: system-ui, sans-serif;
  font-size: 81.25%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.inputDiv {
  background: white;
  border-radius: 25px;
  box-shadow: 2px 2x 2px 2px lightgray;
  padding: 30px;
  width: 600px;
  height: auto;
}

.inlineDiv {
  height: 40px;
  display: flex;
  align-items: center;
}

.countrieSelect {
  margin: 0;
  background: white;
  margin-left: 4px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
}

.showErr {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: #526983;
  font-size: 20px;
  font-weight: bold;
}

.searchCountry {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  border-radius: 25px;
  box-shadow: 2px 2x 2px 2px lightgray;
  display: grid;
  color: #526983;
  font-size: 18px;
  font-weight: bold;
}

.searchCountryP {
  margin-left: 2%;
}

.inputSearchC {
  border-radius: 10px;
  height: 35px;
  width: 250px;
  padding: 12px 20px;
  border: 1px solid lightgrey;
  font-size: 18px;
}

.flag {
  margin-right: 10px;
}

.inputCity {
  border-radius: 10px;
  margin-top: 6px;
  height: 33px;
  width: 330px;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid lightgrey;
}

.imgDiv {
  height: fit-content;
}

.selectDiv {
  margin-left: 10px;
  display: contents;
  border: 0px;
  padding: 16px 14px;
}

.select {
  border-radius: 10px;
}

.cloudImg {
  height: 50px;
}

.inputCity::placeholder {
  color: rgb(152, 152, 152);
}

.inputDiv {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  padding: 30px 10px;
}

.searchButton {
  background: white;
  border: 0;
  right: 5px;
  top: 5px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 45px;
  cursor: pointer;
}

.search {
  height: 40px;
  width: 40px;
}

.temperature-date {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #526983;
  font-size: 14px;
  font-weight: bold;
}

.curentTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  font-weight: bold;
  height: 160px;
}

.temperature::after {
  bottom: 50px;
  position: relative;
  font-size: 30px;
  margin-top: 0px;
  content: "\2103";
}

.temperature-display {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  bottom: 50px;
  position: relative;
}

.temp-days {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  margin-left: 12%;
}

.temperature-d {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: #526983;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}

.temp-days::after {
  bottom: 5px;
  margin-top: 0%;
  content: "\2103";
  font-size: 14px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 0%;
  }
  .inputDiv {
    width: 300px;
    height: 130px;
  }

  .searchCountry {
    width: 255px;
    font-size: 17px;
    margin-top: 10%;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchCountryP {
    margin-bottom: 35%;
    height: 25px;
  }

  .inputSearchC {
    height: 25px;
  }

  .inputCity {
    width: 255px;
    font-size: 17px;
    height: 25px;
    padding: 12px 10px;
  }
  .selectDiv {
    display: block;
    margin-top: 0px;
    padding: 14px 0px;
  }
  .inputDivSize {
    display: flex;
    width: 100px;
    position: absolute;
    margin-top: 90px;
    height: 30px;
  }
  input {
    display: block;
    margin-left: 0%;
    position: absolute;
  }
  .temperature-display {
    display: grid;
  }
  .temp-days {
    margin-left: 0px;
  }
  .searchButton {
    top: 37px;
    right: 40px;
  }
  .search {
    height: 35px;
    width: 35px;
  }
  .imgDiv {
    margin-left: 10px;
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    width: 145px;
  }
  body,
  html {
    height: 210vh;
    margin: 0;
    padding: 0;
  }
}
